
.main-wrapper {
    width: 50%; 
    margin: auto;
}


@media only screen and (max-width: 800px) {
.main-wrapper {
    width: 95%;
    }
}

a.contact-link {
display:inline-block;  
position:relative;
margin: auto 10px auto 10px;
    padding: 0 .2em 0 .2em;
height:24px;
width:auto;
z-index:3;
opacity: 1.0;
transition: opacity .3s ease-out;
-moz-transition: opacity .3s ease-out;
-webkit-transition: opacity .3s ease-out;
-o-transition: opacity .3s ease-out;
}

a.contact-link:hover {
-webkit-opacity:.5;
-moz-opacity:.5;
-o-opacity:.5;
opacity:.5;
cursor:pointer;
}

.contact-container {
display:inline-block;  
position:relative;
/* top:30px;  */
bottom:0px;
width:100%;
height:200px;

margin-top: 40px;
}

.contact-social-bar {
display:block;
position:relative;
top:35px;
margin-right:auto;
margin-left:auto;
height:25px;
width:70%;
overflow: hidden;
padding:0px 10px 0px 10px;
z-index:2;
/*-webkit-transform:scale(1.5,1.5);-moz-transform:scale(1.5,1.5);-o-transform:scale(1.5,1.5);transform:scale(1.5,1.5);*/
text-align: center;
}

.contact-copyright {
display:block;
position:relative;
top:70px;
margin-right:auto;
margin-left:auto;
height:60px;
width:600px;
overflow:visible;
z-index:2;
text-align: center;
}

.divider {
display:block;
position:relative;
height:1px;
width:50%;
margin:20px 10% 20px 10%;
background-color:white;
}

.w-50-100 {
width: 50%;
}

.bg-black {
background-color: #060606;
}

@media only screen and (max-width: 540px ) {
a.contact-link {margin:auto auto auto auto; padding: 0 .3em 0 .3em;
/*-webkit-transform:scale(.85,.85); -moz-transform:scale(.85,.85); -o-transform:scale(.85,.85); transform:scale(.85,.85);*/
        }
.contact-container {top:20px; height:125px;}
.contact-social-bar {top:30px; margin:auto; width:70%;}
.contact-copyright {font-size:14px; width:100%; top:50px;}
.w-50-100 {width: 100%;}
}
