<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="fade-out">
  <script>
    $(function () {
      $('body').removeClass('fade-out');
    });
  </script>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" id="my-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/index" class="navbar-logo-link"></a> <!-- logo -->
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">

        <!-- DONATE BUTTON Desktop -->
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=X7UXKJBK9X6KL&source=url"
          class="navbar-btn navbar-right ghost-button-transition button-buy-music">TIP VIA PAYPAL</a>

        <ul class="nav navbar-nav navbar-right navbar-font-style text-right">
          <li class=""><a href="/index">Home</a>
          <li class=""><a href="/songlist">Song Request List</a>
          <li class=""><a href="http://www.instagram.com/mrjordantanner">My Instagram</a>
          <li class=""><a href="/schedule">Performance Schedule</a>
          <li class=""><a href="/recordings">Original Music</a>
          <li class=""><a href="/about">About</a>

            <!-- DONATE BUTTON Mobile -->
          <li class="button-buy-music-mobile"><a
              href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=X7UXKJBK9X6KL&source=url">TIP
              VIA PAYPAL</a>
        </ul>

      </div>
    </div>
    <div class="red-line-large"></div>
  </nav>
  <!--End Navbar-->

  <div class="content">

    <div class="header-large white">About Me</div>
    <div class="row align-center">
      <div class="column">
        <img class="border-red" src="images/JT-Hat-BW-2017.jpg"></a>

        <div class="body-text">Hi, I'm Jordan, a musician and producer in Austin, TX.</div>
      </div>
    </div>

  </div>

  <div class="divider"></div>

  <!-- CONTACT -->
  <%- include('partials/footer.ejs') %>

</body>

</html>